<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{ subtitle }}</ion-card-subtitle>
    <ion-card-title>{{ title }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <label>{{ value }}</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-icon name="medkit-outline"></ion-icon>
          <label>{{ subValue }}</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>